<div class="container">        
    <!-- About Section -->
    <div class="about-main">
        <div class="row">
         <div class="col-lg-6">
           <h2>Sign up</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           
        </div>
        <div class="col-lg-6 applyInvestmentContainer container">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="investmentModalLabel">Sign in</h5>
                </div>
                <div class="modal-body">
                  <form action="/investment-application" method="post">

                    <div class="mb-3">
                      <label for="investmentAmount" class="form-label">Student Number or Email</label>
                      <input type="text" class="form-control" id="SIN" name="investmentAmount">
                    </div>

                    <div class="mb-3">
                      <label for="investmentAmount" class="form-label">Password</label>
                      <input type="password" class="form-control" >
                    </div>
                    <button type="submit" class="btn btn-primary">login</button>
                    <hr>
                   <div class="mb-3 loginModalFooter">
                     <span> don't have an account? <a href="/auth">sign up</a></span> 
                     <span><a href="/forgot_password">forgot password</a></span> 
                    </div>
                  </form>
                </div>
            
              </div>
            </div>
          </div>
          
        </div>
        <!-- /.row -->
    </div>
 </div>	




