<div class="container">        
    <!-- About Section -->
    <div class="about-main">
        <div class="row">
         <div class="col-lg-6">
           <h2>Sign up</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           
        </div>
        <div class="col-lg-6 applyInvestmentContainer container">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="investmentModalLabel">Create Account</h5>
                </div>
                <div class="modal-body">
                  <form action="/investment-application" method="post">
                    <div class="mb-3">
                      <label for="investmentAmount" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="investmentAmount" name="investmentAmount" placeholder="first name">
                    </div>
                    <div class="mb-3">
                      <label for="investmentAmount" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="investmentAmount" name="investmentAmount" placeholder="last name">
                    </div>
                    <div class="mb-3">
                      <label for="investmentTerm" class="form-label">NRC</label>
                      <input type="number" class="form-control" id="investmentTerm" name="investmentTerm" placeholder="111111/22/3">
                    </div>
                    <div class="mb-3">
                      <label for="investmentTerm" class="form-label">School</label><br>
                      <select name="school" id="">
                        <option value="cbu">Copperbelt University</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="investmentAmount" class="form-label">Student Number</label>
                      <input type="text" class="form-control" id="SIN" name="investmentAmount" placeholder="student number">
                    </div>
                    <div class="mb-3">
                      <label for="investmentAmount" class="form-label">Email</label>
                      <input type="text" class="form-control" id="investmentAmount" name="investmentAmount" placeholder="email">
                    </div>
                    <div class="mb-3">
                      <label for="investmentAmount" class="form-label">Phone number <small><i>(mobiley money number registered under your name)</i></small></label>
                      <input type="text" class="form-control" id="investmentAmount" name="investmentAmount" placeholder="phone number">
                    </div>
                    <div class="mb-3">
                      <label for="investmentAmount" class="form-label">Registration form</label>
                      <input type="file" class="form-control" id="investmentAmount" name="investmentAmount" placeholder="form">
                    </div>
                   
                    <hr>
                    <div class="mb-3">
                      <label for="investmentAmount" class="form-label">Password</label>
                      <input type="password" class="form-control" >
                    </div>
                    <div class="mb-3">
                      <label for="investmentAmount" class="form-label">Re-enter Password</label>
                      <input type="password" class="form-control" >
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <hr>
                   <div class="mb-3">
                     <span> already have an account? <a href="/auth/login">login</a></span> 
                    </div>
                  </form>
                </div>
            
              </div>
            </div>
          </div>
          
        </div>
        <!-- /.row -->
    </div>
 </div>	




