<div class="container">
    <h2>investment information</h2>
    <ul>
        <li>Investment is a commit ( money ) in order to earn financial returns.</li>
        <li>We offer an opportunity to students to allow them to commit ( money ) for a fixed period of time,in order to earn financial returns by receiving interest on the investment.</li>
        <li>The interest received on the investment depends on the amount (principle), period of the investment and interest rate.</li>
        <li>E.g 5% of K1000 for 2month is K1100 where 5% is the interest rates 1month and 2month is the period of the investment and K1000 is the investment amount (principle)..</li>
       
    </ul>
</div>