<div class="container">        
    <!-- About Section -->
    <div>
        <h2>Mobile Money door to door</h2>
    </div>
    <div class="about-main">

        <div class="row">
         <div class="col-lg-6">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
          <p>Lorem ipsum dolor sit. click more below for more informationon how this works</p>
          <button id="open-modal">more</button>
          <br>
          <br>
          <div class="modal container">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p class="modalTitle">Order a mobile money agent</p>
               <hr>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>            
            </div>
        </div>

         
          
           
          
          
        </div>
         <div class="col-lg-6 applyLoanContainer container">
           <div class="modal-dialog modal-dialog-centered">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="loanModalLabel">Withdraw</h5>
                 <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
               </div>
               <div class="modal-body">
                   <div class="modalBottom">
                       
                   <div class="mb-3">
                     <label for="cashAvailable" class="form-label">Cash Available</label>
                     <input type="text" class="form-control" id="wCashAvailable" name="cashAvailable" value="K5000.00" disabled>
                   </div>
                   <div class="mb-3">
                     <label for="agentNumber" class="form-label">Agent Number</label>
                     <input type="text" class="form-control" id="wAgentNumber" name="agentNumber" value="0966121212" disabled>
                   </div>
                   <div class="mb-3">
                     <label for="agentName" class="form-label">Agent Name</label>
                     <input type="text" class="form-control" id="agentName" name="agentName" value="Jacob Mwanza" disabled>
                   </div>
                   <hr>
                   
                   
                </div>
                <form action="/mmoney" method="post">
                    <!-- <hr> -->
                    <div class="mb-3">
                      <label for="agentService" class="form-label">Agent Service</label>
                      <div class="wAgentService">
                        <img src="images/mtn.jpg" alt="mtn" width="60" height="50">
                        <select name="agentService" id="wAgentService">
                            <option value="mtn"> MTN</option>
                            <option value="airtel">AIRTEL</option>
                        </select>
                      </div>
                    </div>
                  
                   <div class="mb-3">
                    <label for="location" class="form-label">Room number</label>
                    <input type="text" class="form-control" id="location" name="location" placeholder="e.g. K212" required>
                    <input type="text" class="serviceType" id="serviceType" value="withdraw" name="serviceType" hidden>
                  </div>
                 
                  <hr>
                  <button type="submit" class="btn btn-primary">send</button>
 
                 </form>
               </div>
               
             </div>
           </div>
         </div>
        </div>
        <!-- /.row -->


        <br>
        <br>
        <hr>
        
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6 applyLoanContainer container">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="loanModalLabel">Deposit</h5>
                      <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-body">
                        <div class="modalBottom">
                            
                        <div class="mb-3">
                          <label for="cashAvailable" class="form-label">Cash Available</label>
                          <input type="text" class="form-control" id="dCashAvailable" name="cashAvailable" value="K5000.00" disabled>
                        </div>
                        <div class="mb-3">
                          <label for="agentNumber" class="form-label">Agent Number</label>
                          <input type="text" class="form-control" id="dAgentNumber" name="agentNumber" value="0966121212" disabled>
                        </div>
                        <div class="mb-3">
                          <label for="agentName" class="form-label">Agent Name</label>
                          <input type="text" class="form-control" id="agentName" name="agentName" value="Jacob Mwanza" disabled>
                        </div>
                        <hr>
                        
                        
                    </div>
                    <form action="/mmoney" method="post">
                        <!-- <hr> -->
                        <div class="mb-3">
                          <label for="dAgentService" class="form-label">Agent Service</label>
                          <div class="dAgentService">
                            <img src="images/mtn.jpg" alt="mtn" width="60" height="50">
                            <select name="agentService" id="dAgentService">
                                <option value="mtn"> MTN</option>
                                <option value="airtel">AIRTEL</option>
                            </select>
                         </div>
                        </div>
                        <div class="mb-3">
                         <label for="location" class="form-label">Room number</label>
                         <input type="text" class="form-control" id="location" name="location" placeholder="e.g. K212">
                         <input type="text" class="serviceType" id="serviceType" value="deposit" name="serviceType" hidden>
                       </div>
                       
                       <hr>
                       <button type="submit" class="btn btn-primary">send</button>
      
                      </form>
                    </div>
                    
                  </div>
                </div>
              </div>
              <br>
              <br>
           
             
           </div>
    </div>
 </div>	


 <div class="background-blur"></div>

<style>
 
</style>







 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Initial values
  var initialCashAvailable = "K5000.00";
  var initialImageSrc = "images/mtn.jpg";
  var initialAgentNumber = "0966121212";

  // Constants
  const modal = $('.modal');
    const backgroundBlur = $('.background-blur');

  // Handle change event on the select element
  $("#wAgentService").change(function() {
    var selectedService = $(this).val();

    // Define a mapping of service values to data
    var serviceData = {
      "mtn": {
        cashAvailable: "K5000.00",
        imageSrc: "images/mtn.jpg",
        agentNumber: "0966121212"
      },
      "airtel": {
        cashAvailable: "K3000.00",
        imageSrc: "images/airtel.png",
        agentNumber: "0973456789"
      }
      // Add more services as needed
    };

    // Get the data for the selected service
    var selectedServiceData = serviceData[selectedService];

    // Update the cash available value, image source, and agent number based on the selected service
    if (selectedServiceData) {
      // Update the cash available value
      $("#wCashAvailable").val(selectedServiceData.cashAvailable);
      // Update the image source
      $(".wAgentService img").attr("src", selectedServiceData.imageSrc);
      // Update the agent number input value
      $("#wAgentNumber").val(selectedServiceData.agentNumber);
    } else {
      // Use the initial values if the service is not found in the mapping
      $("#wCashAvailable").val(initialCashAvailable);
      $(".wAgentService img").attr("src", initialImageSrc);
      $("#wAgentNumber").val(initialAgentNumber);
    }
  });

  // Trigger the change event to set the initial values
 
  $("#dAgentService").change(function() {
    var selectedService = $(this).val();

    // Define a mapping of service values to data
    var serviceData = {
      "mtn": {
        cashAvailable: "K5000.00",
        imageSrc: "images/mtn.jpg",
        agentNumber: "0966121212"
      },
      "airtel": {
        cashAvailable: "K3000.00",
        imageSrc: "images/airtel.png",
        agentNumber: "0977121212"
      }
      // Add more services as needed
    };

    // Get the data for the selected service
    var selectedServiceData = serviceData[selectedService];

    // Update the cash available value, image source, and agent number based on the selected service
    if (selectedServiceData) {
      // Update the cash available value
      $("#dCashAvailable").val(selectedServiceData.cashAvailable);
      // Update the image source
      $(".dAgentService img").attr("src", selectedServiceData.imageSrc);
      // Update the agent number input value
      $("#dAgentNumber").val(selectedServiceData.agentNumber);
    } else {
      // Use the initial values if the service is not found in the mapping
      $("#dCashAvailable").val(initialCashAvailable);
      $(".dAgentService img").attr("src", initialImageSrc);
      $("#dAgentNumber").val(initialAgentNumber);
    }
  });

  $("#wAgentService").change();

  // Trigger the change event to set the initial values
  $("#dAgentService").change();



  // modal js code
  

    $('#open-modal').on('click', function () {
        modal.css('display', 'flex');
        backgroundBlur.css('display', 'block');
    });

    $('.close').on('click', function () {
        modal.css('display', 'none');
        backgroundBlur.css('display', 'none');
    });

    backgroundBlur.on('click', function () {
        modal.css('display', 'none');
        backgroundBlur.css('display', 'none');
    });

});
</script>



