<div class="container">
    <div class="col-lg-6 ">
        <div class="modal-dialog ">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loanModalLabel">Details</h5>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
    
                <div class="mb-3">
                 <label for="otherPhoneNumber">
                    Upload a picture of your Student ID or 
                    picture of the first page of your registration form
                </label>
                 <input type="file" id="studentId" name="studentId" >
                </div>
                
                <hr>
                <button type="submit" class="btn btn-primary">Send</button>
    
                
              </form>
            </div>
            
          </div>
        </div>
      </div>
    
    <hr>
    <hr>
      
      <div class="col-lg-6">
        <h5>Example</h5>
        <ul>
           <li>Phasellus quis erat et enim laoreet posuere ac porttitor ipsum.</li>
           <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>                     
          
           <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ul>
     </div>
</div>